/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
}

.m-t {
  margin-top: 0.75rem;
}
.m-b {
  margin-bottom: 0.75rem;
}

.btn {
  display: block;
  background: blue;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0.35rem 0.75rem 0.35rem 0.75rem;
}

/* Hero section styles */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 0.5rem;
  grid-template-areas:
    "a a b"
    "a a c";
  margin-bottom: 2rem;
}

.tile-1 {
  grid-area: a;
}
.tile-2 {
  grid-area: b;
}
.tile-3 {
  grid-area: c;
}

.hero-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.hero-item {
  text-align: center;
  padding: 0.5rem;
  width: 130px;
}

.hero-item h4 {
  letter-spacing: 1px;
}

/* Carousel styles */
#bottom {
  background: rgb(233, 230, 230);
  padding: 2rem;
}
.card-center {
  text-align: center;
}
.card-center h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 180px;
}

.amount {
  color: blue;
}

.glide__arrow {
  border-radius: 50%;
  background: black;
}
